doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    |     
    title Financial Check Up
    |     
    link(rel='stylesheet', type='text/css', href='build/build.css')
  |   
  body
    article
      section
        h1 Finacial Check Up
        |         
        h3
          a(href='') By: CYBERTRON
      |       
      section
        h3
          | Membantu mengidentifikasi kemungkinan penyakit Keuangan sedini
          | mungkin agar dapat dilakukan tindakan perbaikan seperti :
        | &#x9;
        ul
          a(href='')
            li 1.Terlalu boros
            | &#x9;  
            li 2.Terlalu banyak hutang
            | &#x9;  
            li 3.Kekurangan uang tunai pada masa darurat
            | &#x9;  
            li 4.Kekurangan investasi untuk masa depan
            | &#x9;  
            li 5.Gejala kebangkrutan
      |       
      section
        h2 Langkah-langkah financial Check Up
        |         
        h3
          a(href='', <='', a='')
        | &#x9;
        ul
          li
            strong Potret Keadaan Finansial
          | &#x9;  
          li
            strong Identifikasi Tujuan Finansial
          | &#x9;  
          li
            strong Perubahan Kondisi Kehidupan
          | &#x9;  
          li
            strong Perlindungan Keluarga
          | &#x9;  
          li
            strong Evaluasi Dana Pensiun
      |       
      section
        h2 Salah satu kecerdasan yang harus dimiliki Manusia Modern adalah :
        |         
        h3.bullet
          u &quot;Kecerdasan Finansial&quot;
      |       
      section
        h2 Masalah dalam keuangan Anda
        |         
        h3
          a(href='', <='', a='')
        | &#x9;
        ul
          li i.  Lubang pada Kartu Debit/Kartu Kredit
          | &#x9;  
          li ii. Internet Banking
          | &#x9;  
          li iii.Mengikuti Trend Orang lain
          | &#x9;  
          li iv. Musibah Datang Tanpa Di Undang
          | &#x9;  
          li v.  Salah dalam Investasi
          | &#x9;  
          li vi. Dan lainnya
      |       
      section
        h2 3 Tahap Membangun Keuangan
        |         
        h3
          a(href='', <='', a='')
        | &#x9;
        ul
          li 1.Motivasi/Komitmen Diri
          | &#x9;  
          li 2.Kecerdasan Finansial(Pemberdayaan Dana)
          li
          li 3.Melipat gandakan Dana 
        | &#x9;
        h3
          i
            | &quot;Tidak Perduli Seberapa Besar Penghasilan Anda,
            | Yang Terpenting Seberapa Besar yang bisa Anda Simpan&quot;
      |       
      section
        h2.bullet Ada Pertanyaan...???
        br
        |           
        li Terima kasih! :)
    |     
    script(src='build/build.js')
